* {
  margin: 0 auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
}

body {
  background-color: aquamarine;
}
.temperature {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-size: 24px;
}
.city {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 24px;
}
button {
  font-size: 20px;
  margin-left: 20px;
}
input {
  font-size: 20px;
}
.list {
  display: block;
}
#header-container {
  font-size: 24px;
  background-color: pink;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  /*justify-content: center;*/
}
.loclal {
  display: block;
  margin-top: 20px;
  text-align: bottom;
  background-color: beige;
}

#weather-box {
  background-color: pink;
}
.list {
  width: 30%;
  margin: 0 auto;
  /* border-style: none;*/
}
